<form action="{{ path('admin.users.delete', {id:user.id}) }}" method="POST" onsubmit="return confirm('Êtes vous sur de vouloir suprimer cette catégorie')">
        <input type="hidden" name="token" value="{{ csrf_token('delete' ~ user.id) }}">
        <button type="submit" class="btn btn-danger">Suprimer</button>
</form>